.commentsList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.comment {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
    margin: 7px 4px;
}
.commentUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.commentImage {
    border-radius: 50%;
    margin-right: 5px;
}
.commentUserName {
    display: flex;
    align-items: center;
}
.commentUser .buttonPost {
    width: 29px;
    height: 29px;
}
.nameUser-comment {
    margin: 0;
    font-size: 12px;
}
.textComment {
    margin: 0;
}