.containerComment {
    align-items: center;
    background: #0d0d0d;
    border-radius: 6px;
    display: flex;
    margin: 1rem 0.5rem;
    padding: 1rem 0 1rem 1rem;
}
.separateDivs {
    background: #0d0d0d;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0.9rem 0.2rem 0.2rem 2.25rem;
    padding: 0.5rem 0.3rem;
}
.commentsList {
    align-items: center;
    display: flex;
}
.comment-user {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}
.nameUser-comment {
    font-size: 0.7rem;
}