.form__container {
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 40%;
}
.form__title {
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}
.form__label {
    margin: 0.5rem 0;
}
.form__input {
    border-radius: 15px;
    border-style: none;
    height: 1.5rem;
}
.form__button {
    background: #d95032;
    border-style: none;
    border-radius: 10px;
    color: #fdfdfd;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    transition: 0.5s;
    width: 100%;
}
.form__button:hover {
    background: #F2A30F;
}