.post {
    margin: 5px;
    border-radius: 5px;
    padding: 5px 0;
}
.header-post {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.user-header {
    display: flex;
    align-items: center;
}
.imgUser-post {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.nameUser-post {
    margin: 0;
    margin-right: 5px;
}
.titleUser-post {
    margin: 0;
    font-size: 19px;
}
.post-img {
    height: 100%;
    width: 100%;
}
.content-post {
    margin: 5px;
    font-size: 18px;
}
.containerButtons {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.buttonPost {
    margin: 3px;
}
.containerComment {
    margin: 0 15px;
    border: 1px solid #333;
    padding: 5px;
    border-radius: 10px;
}
.containerComment input {
    margin-bottom: 0;
    height: 25px;
}
.textAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}