.user__container {
    align-items: center;
    border: 1px 1px solid #fdfdfd;
    display: flex;
    flex-direction: column;
}
.user__acount {
    display: flex;
    justify-content: space-between;
    margin: 1rem .5rem;
    width: 100%;
}
.user__profile {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
.user__image {
    border-radius: 50%;
}
.user__name {
    margin-left: 1rem;
}